button {
	display: inline-block;
	padding: 4px 12px;
	border-radius: 4px;
	background: #ddd;
	border: none;
	outline: none;

	&.disabled {
		opacity: 0.2;
	}
}

.buttons {
	@extend %clearfix;
	display: inline-block;
	vertical-align: top;

	button {
		float: left;
		border-radius: 0;
		margin-right: 1px;
		font-size: 1rem;

		&:first-of-type {
			@include border-left-radius(4px);
		}

		&:last-of-type {
			@include border-right-radius(4px);
			margin-right: 0;
		}
	}
}